html, body
    font-size 16px

.home-panel
    display flex

    &__galery
        display flex
        justify-content space-around
        flex-wrap wrap
        width 70vw
        padding 1rem

        &__pic--container
            width 20%
            height 140px
            margin 0
            padding 1px

            &__image
                width 100%
                height 100%
                border 1px solid teal

.left-bar
    width 30vw

.pic-panel
    display flex
    justify-content space-around
    &__left
        width 50vw
        height 90vh
    &__right
        width 50vw
        height 90vh
        background-color DEDEDE
        display flex
        justify-content space-around

        figure
            margin 3rem 0 0 0
            width 40vw
            height 400px

            img
                width 100%
                height 100%
